### Create a SQL DB from a series of processed CSV files via SQLAlchemy.

The processed CSV files were imported from the WHO, UN, OECD, World Bank, loaded, processed and exported via Pandas

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Create a list (array) with the names of the CSV files from the processed data location

In [2]:
datapath = os.path.join(os.getcwd(), "data2")

if os.path.isdir(datapath):
    datafiles = [f for f in os.listdir(datapath) if os.path.isfile(os.path.join(datapath, f))]

For these files, split the extension, capitalize and append them to a dictionary which will contain as key the name minus extension and as value the Pandas DataFrame

In [3]:
datadict = dict()

for f in datafiles:
    #print(f)
    datadict[((f.rsplit(".", 1)[0]).capitalize())] = pd.read_csv(os.path.join(datapath, f))#, index_col = "Country")

In [4]:
for key, val in datadict.items():
    print(key)

Anual_number_of_deaths_by_cause
Life_satisfaction_in_cantril_ladder_world_happiness_report_2021
Life_expectancy
Life_expectancy_at_birth
Extreme_poverty_headcount_ratio_vs_life_expectancy_at_birth
Human_development_index
Mortality_rate_under_5_per_1000_live_births
Suicide_mortality_rate_per_100000_population
Annual_co2_emissions
Average_total_years_of_schooling_for_adult_population

In [37]:
# find for each DB, the unique country/index entries
# which we convert to lists and then sets to find the
# intersection of the lists/sets

uniqndx = []

for key, val in datadict.items():
    uniqndx.append(list(datadict[key]["Country"].unique()))

In [38]:
#inter = [i for i in uniqndx[0]]
countrylist = []

for i, val in enumerate(uniqndx):
    countrylist = list(set(countrylist).intersection(set(uniqndx[i]))) \
        if i != 0 else [i for i in uniqndx[0]]

In [7]:
for key, val in datadict.items():
    print(key)

Anual_number_of_deaths_by_cause
Life_satisfaction_in_cantril_ladder_world_happiness_report_2021
Life_expectancy
Life_expectancy_at_birth
Extreme_poverty_headcount_ratio_vs_life_expectancy_at_birth
Human_development_index
Mortality_rate_under_5_per_1000_live_births
Suicide_mortality_rate_per_100000_population
Annual_co2_emissions
Average_total_years_of_schooling_for_adult_population

In [9]:
df = pd.DataFrame()

### Check for NaNs

we're going to have NaNs since multiple dataframes span different time ranges. Since we do an union of the dataframes we're guaranteed to have some fields/columns without data depending on the year.
If there are any *Code* fields left with NaN, fill to *NUL*. For everything else fill them with 0.

In [10]:
# NEEDED for geo maps

for key, val in datadict.items():
    print(key)
    datadict[key].drop(columns=["Code"], inplace = True)

Anual_number_of_deaths_by_cause
Life_satisfaction_in_cantril_ladder_world_happiness_report_2021
Life_expectancy
Life_expectancy_at_birth
Extreme_poverty_headcount_ratio_vs_life_expectancy_at_birth
Human_development_index
Mortality_rate_under_5_per_1000_live_births
Suicide_mortality_rate_per_100000_population
Annual_co2_emissions
Average_total_years_of_schooling_for_adult_population

In [11]:
df = pd.merge(left=datadict["Anual_number_of_deaths_by_cause"], right=datadict["Average_total_years_of_schooling_for_adult_population"], how="outer", on=["Year", "Country"])

df = pd.merge(left=df, right=datadict["Life_satisfaction_in_cantril_ladder_world_happiness_report_2021"], how="outer", on=["Year", "Country"])

df = pd.merge(left=df, right=datadict["Life_expectancy"], how="outer", on=["Year", "Country"])

df = pd.merge(left=df, right=datadict["Life_expectancy_at_birth"], how="outer", on=["Year", "Country"])

df = pd.merge(left=df, right=datadict["Extreme_poverty_headcount_ratio_vs_life_expectancy_at_birth"], how="outer", on=["Year", "Country"])

df = pd.merge(left=df, right=datadict["Human_development_index"], how="outer", on=["Year", "Country"])

df = pd.merge(left=df, right=datadict["Mortality_rate_under_5_per_1000_live_births"], how="outer", on=["Year", "Country"])

df = pd.merge(left=df, right=datadict["Suicide_mortality_rate_per_100000_population"], how="outer", on=["Year", "Country"])

df = pd.merge(left=df, right=datadict["Annual_co2_emissions"], how="outer", on=["Year", "Country"])

df.head()

,Country,Year,Number_of_executions_(amnesty_international),Deaths_-_meningitis,Deaths_-_lower_respiratory_infections,Deaths_-_intestinal_infectious_diseases,Deaths_-_protein-energy_malnutrition,Terrorism,Deaths_-_cardiovascular_diseases,Deaths_-_alzheimer_disease_and_other_dementias,...,Life_satisfaction_in_Cantril_Ladder_(World_Happiness_Report_2021),Life_expectancy,Life_expectancy_at_birth,$1.90_per_day_-_share_of_population_below_poverty_line,"Life_expectancy_at_birth,_total_(years)","Total_population_(Gapminder,_HYDE_&_UN)",Human_development_index,Mortality_rate_under_5_per_1000_live_births,Suicidy_mortality_rate_per_100000_population,Annual_CO2_emissions
0,Afghanistan,1990,0,6469.977091,22836.912346,295.382207,1607.703797,12.0,46498.085024,1959.215373,...,NaN,50.331,50.331,0.0,50.331,12412311.0,NaN,17.77,NaN,2603238.0
1,Afghanistan,1991,0,6347.158764,22325.633931,303.866598,1558.132316,68.0,46967.361037,1987.812878,...,NaN,50.999,50.999,0.0,50.999,13299016.0,NaN,17.17,NaN,2427366.0
2,Afghanistan,1992,0,6659.741428,23205.280750,317.750121,1617.721576,49.0,48355.558515,2025.102326,...,NaN,51.641,51.641,0.0,51.641,14485543.0,NaN,16.59,NaN,1379462.0
3,Afghanistan,1993,0,8068.386263,28229.715397,333.978331,1931.808553,0.0,50072.563899,2064.827903,...,NaN,52.256,52.256,0.0,52.256,15816601.0,NaN,16.04,NaN,1333055.0
4,Afghanistan,1994,0,9432.845127,32652.297630,348.419085,2351.629206,22.0,51416.815442,2101.020630,...,NaN,52.842,52.842,0.0,52.842,17075728.0,NaN,15.52,NaN,1281602.0

In [12]:
df.columns

Index(['Country', 'Year', 'Number_of_executions_(amnesty_international)',
       'Deaths_-_meningitis', 'Deaths_-_lower_respiratory_infections',
       'Deaths_-_intestinal_infectious_diseases',
       'Deaths_-_protein-energy_malnutrition', 'Terrorism',
       'Deaths_-_cardiovascular_diseases',
       'Deaths_-_alzheimer_disease_and_other_dementias',
       'Deaths_-_chronic_kidney_disease',
       'Deaths_-_chronic_respiratory_diseases',
       'Deaths_-_cirrhosis_and_other_chronic_liver_diseases',
       'Deaths_-_digestive_diseases', 'Deaths_-_hepatitis',
       'Deaths_-_neoplasms', 'Deaths_-_parkinson_disease',
       'Deaths_-_fire,_heat,_and_hot_substances', 'Deaths_-_malaria',
       'Deaths_-_drowning', 'Deaths_-_interpersonal_violence',
       'Deaths_-_hiv/aids', 'Deaths_-_drug_use_disorders',
       'Deaths_-_tuberculosis', 'Deaths_-_road_injuries',
       'Deaths_-_maternal_disorders', 'Deaths_-_neonatal_disorders',
       'Deaths_-_alcohol_use_disorders',
       'Deaths_-_exposure_to_forces_of_nature', 'Deaths_-_diarrheal_diseases',
       'Deaths_-_environmental_heat_and_cold_exposure',
       'Deaths_-_nutritional_deficiencies', 'Deaths_-_self-harm',
       'Deaths_-_conflict_and_terrorism', 'Deaths_-_diabetes_mellitus',
       'Deaths_-_poisonings',
       'Average_total_years_of_schooling_for_adult_population', 'Unnamed: 0',
       'Life_satisfaction_in_Cantril_Ladder_(World_Happiness_Report_2021)',
       'Life_expectancy', 'Life_expectancy_at_birth',
       '$1.90_per_day_-_share_of_population_below_poverty_line',
       'Life_expectancy_at_birth,_total_(years)',
       'Total_population_(Gapminder,_HYDE_&_UN)', 'Human_development_index',
       'Mortality_rate_under_5_per_1000_live_births',
       'Suicidy_mortality_rate_per_100000_population', 'Annual_CO2_emissions'],
      dtype='object')

In [13]:
df.rename(columns={"Number_of_executions_(amnesty_international)" : "Number_of_executions", "Life_satisfaction_in_Cantril_Ladder_(World_Happiness_Report_2021)" : "Life_satisfaction", "$1.90_per_day_-_share_of_population_below_poverty_line" : "Share_of_population_below_poverty_line_2USD_per_day", "Total_population_(Gapminder,_HYDE_&_UN)" : "Total_population"}, inplace=True)

In [14]:
df.drop(columns={"Number_of_executions"}, inplace=True)
df.columns

Index(['Country', 'Year', 'Deaths_-_meningitis',
       'Deaths_-_lower_respiratory_infections',
       'Deaths_-_intestinal_infectious_diseases',
       'Deaths_-_protein-energy_malnutrition', 'Terrorism',
       'Deaths_-_cardiovascular_diseases',
       'Deaths_-_alzheimer_disease_and_other_dementias',
       'Deaths_-_chronic_kidney_disease',
       'Deaths_-_chronic_respiratory_diseases',
       'Deaths_-_cirrhosis_and_other_chronic_liver_diseases',
       'Deaths_-_digestive_diseases', 'Deaths_-_hepatitis',
       'Deaths_-_neoplasms', 'Deaths_-_parkinson_disease',
       'Deaths_-_fire,_heat,_and_hot_substances', 'Deaths_-_malaria',
       'Deaths_-_drowning', 'Deaths_-_interpersonal_violence',
       'Deaths_-_hiv/aids', 'Deaths_-_drug_use_disorders',
       'Deaths_-_tuberculosis', 'Deaths_-_road_injuries',
       'Deaths_-_maternal_disorders', 'Deaths_-_neonatal_disorders',
       'Deaths_-_alcohol_use_disorders',
       'Deaths_-_exposure_to_forces_of_nature', 'Deaths_-_diarrheal_diseases',
       'Deaths_-_environmental_heat_and_cold_exposure',
       'Deaths_-_nutritional_deficiencies', 'Deaths_-_self-harm',
       'Deaths_-_conflict_and_terrorism', 'Deaths_-_diabetes_mellitus',
       'Deaths_-_poisonings',
       'Average_total_years_of_schooling_for_adult_population', 'Unnamed: 0',
       'Life_satisfaction', 'Life_expectancy', 'Life_expectancy_at_birth',
       'Share_of_population_below_poverty_line_2USD_per_day',
       'Life_expectancy_at_birth,_total_(years)', 'Total_population',
       'Human_development_index',
       'Mortality_rate_under_5_per_1000_live_births',
       'Suicidy_mortality_rate_per_100000_population', 'Annual_CO2_emissions'],
      dtype='object')

In [15]:
df.columns = df.columns.str.replace("_-_", "_")

In [16]:
df.columns

Index(['Country', 'Year', 'Deaths_meningitis',
       'Deaths_lower_respiratory_infections',
       'Deaths_intestinal_infectious_diseases',
       'Deaths_protein-energy_malnutrition', 'Terrorism',
       'Deaths_cardiovascular_diseases',
       'Deaths_alzheimer_disease_and_other_dementias',
       'Deaths_chronic_kidney_disease', 'Deaths_chronic_respiratory_diseases',
       'Deaths_cirrhosis_and_other_chronic_liver_diseases',
       'Deaths_digestive_diseases', 'Deaths_hepatitis', 'Deaths_neoplasms',
       'Deaths_parkinson_disease', 'Deaths_fire,_heat,_and_hot_substances',
       'Deaths_malaria', 'Deaths_drowning', 'Deaths_interpersonal_violence',
       'Deaths_hiv/aids', 'Deaths_drug_use_disorders', 'Deaths_tuberculosis',
       'Deaths_road_injuries', 'Deaths_maternal_disorders',
       'Deaths_neonatal_disorders', 'Deaths_alcohol_use_disorders',
       'Deaths_exposure_to_forces_of_nature', 'Deaths_diarrheal_diseases',
       'Deaths_environmental_heat_and_cold_exposure',
       'Deaths_nutritional_deficiencies', 'Deaths_self-harm',
       'Deaths_conflict_and_terrorism', 'Deaths_diabetes_mellitus',
       'Deaths_poisonings',
       'Average_total_years_of_schooling_for_adult_population', 'Unnamed: 0',
       'Life_satisfaction', 'Life_expectancy', 'Life_expectancy_at_birth',
       'Share_of_population_below_poverty_line_2USD_per_day',
       'Life_expectancy_at_birth,_total_(years)', 'Total_population',
       'Human_development_index',
       'Mortality_rate_under_5_per_1000_live_births',
       'Suicidy_mortality_rate_per_100000_population', 'Annual_CO2_emissions'],
      dtype='object')

In [17]:
df.rename(columns={"Deaths_hiv/aids" : "Deaths_aids"}, inplace = True)

In [18]:
df.columns = df.columns.str.replace("-","_")

In [19]:
df.rename(columns={"Life_expectancy_at_birth,_total_(years)" : "Total_life_expectancy_at_birth_in_years"}, inplace = True)

In [20]:
df.rename(columns={"Deaths_protein-energy_malnutrition" : "Deaths_protein_energy_malnutrition"}, inplace = True)

In [21]:
df.rename(columns={"Deaths_fire,_heat,_and_hot_substances" : "Deaths_by_fire_and_heat"}, inplace=True)

In [22]:
df.columns

Index(['Country', 'Year', 'Deaths_meningitis',
       'Deaths_lower_respiratory_infections',
       'Deaths_intestinal_infectious_diseases',
       'Deaths_protein_energy_malnutrition', 'Terrorism',
       'Deaths_cardiovascular_diseases',
       'Deaths_alzheimer_disease_and_other_dementias',
       'Deaths_chronic_kidney_disease', 'Deaths_chronic_respiratory_diseases',
       'Deaths_cirrhosis_and_other_chronic_liver_diseases',
       'Deaths_digestive_diseases', 'Deaths_hepatitis', 'Deaths_neoplasms',
       'Deaths_parkinson_disease', 'Deaths_by_fire_and_heat', 'Deaths_malaria',
       'Deaths_drowning', 'Deaths_interpersonal_violence', 'Deaths_aids',
       'Deaths_drug_use_disorders', 'Deaths_tuberculosis',
       'Deaths_road_injuries', 'Deaths_maternal_disorders',
       'Deaths_neonatal_disorders', 'Deaths_alcohol_use_disorders',
       'Deaths_exposure_to_forces_of_nature', 'Deaths_diarrheal_diseases',
       'Deaths_environmental_heat_and_cold_exposure',
       'Deaths_nutritional_deficiencies', 'Deaths_self_harm',
       'Deaths_conflict_and_terrorism', 'Deaths_diabetes_mellitus',
       'Deaths_poisonings',
       'Average_total_years_of_schooling_for_adult_population', 'Unnamed: 0',
       'Life_satisfaction', 'Life_expectancy', 'Life_expectancy_at_birth',
       'Share_of_population_below_poverty_line_2USD_per_day',
       'Total_life_expectancy_at_birth_in_years', 'Total_population',
       'Human_development_index',
       'Mortality_rate_under_5_per_1000_live_births',
       'Suicidy_mortality_rate_per_100000_population', 'Annual_CO2_emissions'],
      dtype='object')

In [23]:
df.drop(columns="Unnamed: 0", inplace = True)

In [24]:
df.columns

Index(['Country', 'Year', 'Deaths_meningitis',
       'Deaths_lower_respiratory_infections',
       'Deaths_intestinal_infectious_diseases',
       'Deaths_protein_energy_malnutrition', 'Terrorism',
       'Deaths_cardiovascular_diseases',
       'Deaths_alzheimer_disease_and_other_dementias',
       'Deaths_chronic_kidney_disease', 'Deaths_chronic_respiratory_diseases',
       'Deaths_cirrhosis_and_other_chronic_liver_diseases',
       'Deaths_digestive_diseases', 'Deaths_hepatitis', 'Deaths_neoplasms',
       'Deaths_parkinson_disease', 'Deaths_by_fire_and_heat', 'Deaths_malaria',
       'Deaths_drowning', 'Deaths_interpersonal_violence', 'Deaths_aids',
       'Deaths_drug_use_disorders', 'Deaths_tuberculosis',
       'Deaths_road_injuries', 'Deaths_maternal_disorders',
       'Deaths_neonatal_disorders', 'Deaths_alcohol_use_disorders',
       'Deaths_exposure_to_forces_of_nature', 'Deaths_diarrheal_diseases',
       'Deaths_environmental_heat_and_cold_exposure',
       'Deaths_nutritional_deficiencies', 'Deaths_self_harm',
       'Deaths_conflict_and_terrorism', 'Deaths_diabetes_mellitus',
       'Deaths_poisonings',
       'Average_total_years_of_schooling_for_adult_population',
       'Life_satisfaction', 'Life_expectancy', 'Life_expectancy_at_birth',
       'Share_of_population_below_poverty_line_2USD_per_day',
       'Total_life_expectancy_at_birth_in_years', 'Total_population',
       'Human_development_index',
       'Mortality_rate_under_5_per_1000_live_births',
       'Suicidy_mortality_rate_per_100000_population', 'Annual_CO2_emissions'],
      dtype='object')

In [25]:
df[df.isna().any(axis=1)]

,Country,Year,Deaths_meningitis,Deaths_lower_respiratory_infections,Deaths_intestinal_infectious_diseases,Deaths_protein_energy_malnutrition,Terrorism,Deaths_cardiovascular_diseases,Deaths_alzheimer_disease_and_other_dementias,Deaths_chronic_kidney_disease,...,Life_satisfaction,Life_expectancy,Life_expectancy_at_birth,Share_of_population_below_poverty_line_2USD_per_day,Total_life_expectancy_at_birth_in_years,Total_population,Human_development_index,Mortality_rate_under_5_per_1000_live_births,Suicidy_mortality_rate_per_100000_population,Annual_CO2_emissions
0,Afghanistan,1990,6469.977091,22836.912346,295.382207,1607.703797,12.0,46498.085024,1959.215373,3155.356340,...,NaN,50.331,50.331,0.0,50.331,12412311.0,NaN,17.77,NaN,2.603238e+06
1,Afghanistan,1991,6347.158764,22325.633931,303.866598,1558.132316,68.0,46967.361037,1987.812878,3124.082631,...,NaN,50.999,50.999,0.0,50.999,13299016.0,NaN,17.17,NaN,2.427366e+06
2,Afghanistan,1992,6659.741428,23205.280750,317.750121,1617.721576,49.0,48355.558515,2025.102326,3192.278428,...,NaN,51.641,51.641,0.0,51.641,14485543.0,NaN,16.59,NaN,1.379462e+06
3,Afghanistan,1993,8068.386263,28229.715397,333.978331,1931.808553,0.0,50072.563899,2064.827903,3343.974014,...,NaN,52.256,52.256,0.0,52.256,15816601.0,NaN,16.04,NaN,1.333055e+06
4,Afghanistan,1994,9432.845127,32652.297630,348.419085,2351.629206,22.0,51416.815442,2101.020630,3480.299710,...,NaN,52.842,52.842,0.0,52.842,17075728.0,NaN,15.52,NaN,1.281602e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37786,World,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.485281e+09
37787,World,1896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.533711e+09
37788,World,1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.606311e+09
37789,World,1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.694277e+09
37790,World,1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.850906e+09

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37791 entries, 0 to 37790
Data columns (total 46 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Country                                                37791 non-null  object
 1   Year                                                   37791 non-null  int64
 2   Deaths_meningitis                                      6686 non-null   float64
 3   Deaths_lower_respiratory_infections                    6686 non-null   float64
 4   Deaths_intestinal_infectious_diseases                  6686 non-null   float64
 5   Deaths_protein_energy_malnutrition                     6686 non-null   float64
 6   Terrorism                                              6686 non-null   float64
 7   Deaths_cardiovascular_diseases                         6686 non-null   float64
 8   Deaths_alzheimer_disease_and_other_dementias           6686 non-null   float64
 9   Deaths_chronic_kidney_disease                          6686 non-null   float64
 10  Deaths_chronic_respiratory_diseases                    6686 non-null   float64
 11  Deaths_cirrhosis_and_other_chronic_liver_diseases      6686 non-null   float64
 12  Deaths_digestive_diseases                              6686 non-null   float64
 13  Deaths_hepatitis                                       6686 non-null   float64
 14  Deaths_neoplasms                                       6686 non-null   float64
 15  Deaths_parkinson_disease                               6686 non-null   float64
 16  Deaths_by_fire_and_heat                                6686 non-null   float64
 17  Deaths_malaria                                         6686 non-null   float64
 18  Deaths_drowning                                        6686 non-null   float64
 19  Deaths_interpersonal_violence                          6686 non-null   float64
 20  Deaths_aids                                            6686 non-null   float64
 21  Deaths_drug_use_disorders                              6686 non-null   float64
 22  Deaths_tuberculosis                                    6686 non-null   float64
 23  Deaths_road_injuries                                   6686 non-null   float64
 24  Deaths_maternal_disorders                              6686 non-null   float64
 25  Deaths_neonatal_disorders                              6686 non-null   float64
 26  Deaths_alcohol_use_disorders                           6686 non-null   float64
 27  Deaths_exposure_to_forces_of_nature                    6686 non-null   float64
 28  Deaths_diarrheal_diseases                              6686 non-null   float64
 29  Deaths_environmental_heat_and_cold_exposure            6686 non-null   float64
 30  Deaths_nutritional_deficiencies                        6686 non-null   float64
 31  Deaths_self_harm                                       6686 non-null   float64
 32  Deaths_conflict_and_terrorism                          6686 non-null   float64
 33  Deaths_diabetes_mellitus                               6686 non-null   float64
 34  Deaths_poisonings                                      6686 non-null   float64
 35  Average_total_years_of_schooling_for_adult_population  7777 non-null   float64
 36  Life_satisfaction                                      1956 non-null   float64
 37  Life_expectancy                                        19049 non-null  float64
 38  Life_expectancy_at_birth                               14631 non-null  float64
 39  Share_of_population_below_poverty_line_2USD_per_day    31127 non-null  float64
 40  Total_life_expectancy_at_birth_in_years                31127 non-null  float64
 41  Total_population                                       31127 non-null  float64
 42  Human_development_index                                5015 non-null   float64
 43  Mortality_rate_under_5_per_1000_live_births            11966 non-null  float64
 44  Suicidy_mortality_rate_per_100000_population           4634 non-null   float64
 45  Annual_CO2_emissions                                   23970 non-null  float64
dtypes: float64(44), int64(1), object(1)
memory usage: 13.6+ MB

In [27]:
df["Year"]
#df.dropna(inplace = True)

0        1990
1        1991
2        1992
3        1993
4        1994
         ...
37786    1895
37787    1896
37788    1897
37789    1898
37790    1899
Name: Year, Length: 37791, dtype: int64

In [28]:
df.dtypes

Country                                                   object
Year                                                       int64
Deaths_meningitis                                        float64
Deaths_lower_respiratory_infections                      float64
Deaths_intestinal_infectious_diseases                    float64
Deaths_protein_energy_malnutrition                       float64
Terrorism                                                float64
Deaths_cardiovascular_diseases                           float64
Deaths_alzheimer_disease_and_other_dementias             float64
Deaths_chronic_kidney_disease                            float64
Deaths_chronic_respiratory_diseases                      float64
Deaths_cirrhosis_and_other_chronic_liver_diseases        float64
Deaths_digestive_diseases                                float64
Deaths_hepatitis                                         float64
Deaths_neoplasms                                         float64
Deaths_parkinson_disease                                 float64
Deaths_by_fire_and_heat                                  float64
Deaths_malaria                                           float64
Deaths_drowning                                          float64
Deaths_interpersonal_violence                            float64
Deaths_aids                                              float64
Deaths_drug_use_disorders                                float64
Deaths_tuberculosis                                      float64
Deaths_road_injuries                                     float64
Deaths_maternal_disorders                                float64
Deaths_neonatal_disorders                                float64
Deaths_alcohol_use_disorders                             float64
Deaths_exposure_to_forces_of_nature                      float64
Deaths_diarrheal_diseases                                float64
Deaths_environmental_heat_and_cold_exposure              float64
Deaths_nutritional_deficiencies                          float64
Deaths_self_harm                                         float64
Deaths_conflict_and_terrorism                            float64
Deaths_diabetes_mellitus                                 float64
Deaths_poisonings                                        float64
Average_total_years_of_schooling_for_adult_population    float64
Life_satisfaction                                        float64
Life_expectancy                                          float64
Life_expectancy_at_birth                                 float64
Share_of_population_below_poverty_line_2USD_per_day      float64
Total_life_expectancy_at_birth_in_years                  float64
Total_population                                         float64
Human_development_index                                  float64
Mortality_rate_under_5_per_1000_live_births              float64
Suicidy_mortality_rate_per_100000_population             float64
Annual_CO2_emissions                                     float64
dtype: object

In [31]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///deadline_database_nonans_geo.db", echo=True)
sqlite_connection = engine.connect()

sqlite_table = "Deadline_database"

df.to_sql(sqlite_table, sqlite_connection, if_exists="replace")

# close connection to DB
sqlite_connection.close()

In [32]:
from pycountry import countries

In [33]:
countries.lookup("Canada").alpha_3

'CAN'

In [36]:
countries

In [41]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andean Latin America', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australasia', 'Australasia & Oceania',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Caribbean', 'Central African Republic',
       'Central America & Caribbean', 'Central Asia', 'Central Europe',
       'Central Europe, Eastern Europe, and Central Asia',
       'Central Latin America', 'Central Sub-Saharan Africa', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Asia',
       'East Germany (GDR)', 'East Timor', 'Eastern Europe',
       'Eastern Sub-Saharan Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High SDI', 'High-income', 'High-income Asia Pacific',
       'High-middle SDI', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America and Caribbean', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Low SDI', 'Low-middle SDI',
       'Luxembourg', 'Macau', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)',
       'Middle East & North Africa', 'Middle SDI', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Africa and Middle East',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Serbia-Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Asia', 'South Korea',
       'South Sudan', 'Southeast Asia',
       'Southeast Asia, East Asia, and Oceania', 'Southern Latin America',
       'Southern Sub-Saharan Africa', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tropical Latin America',
       'Tunisia', 'Turkey', 'Turkmenistan', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'West Germany (FRG)', 'Western Europe', 'Western Sahara',
       'Western Sub-Saharan Africa', 'World', 'World (excluding China)',
       'Yemen', 'Yugoslavia', 'Zaire', 'Zambia', 'Zimbabwe',
       'Liechtenstein', 'Macao', 'Palau', 'Reunion', 'Northern Cyprus',
       'Somaliland region', 'Africa', 'Americas', 'Anguilla', 'Aruba',
       'Asia', 'Bonaire Sint Eustatius and Saba',
       'British Virgin Islands', 'Cayman Islands', 'Channel Islands',
       'Cook Islands', 'Curacao', 'Europe', 'Faeroe Islands',
       'Falkland Islands', 'Gibraltar', 'Isle of Man',
       'Latin America and the Caribbean', 'Mayotte', 'Monaco',
       'Montserrat', 'Nauru', 'Niue', 'Northern America',
       'Saint Barthlemy', 'Saint Helena', 'Saint Martin (French part)',
       'Saint Pierre and Miquelon', 'San Marino',
       'Sint Maarten (Dutch part)', 'Tokelau', 'Turks and Caicos Islands',
       'Tuvalu', 'Vatican', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Arab World',
       'Caribbean Small States', 'Central Europe and the Baltics',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD)',
       'East Asia & Pacific (excluding high income)', 'Euro area',
       'Europe & Central Asia', 'Europe & Central Asia (IDA & IBRD)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (IDA & IBRD)',
       'Latin America & Caribbean (excluding high income)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa (IDA & IBRD)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'OECD members', 'Other small states',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Small states',
       'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD)',
       'Sub-Saharan Africa (excluding high income)',
       'Upper middle income', 'Abkhazia', 'Akrotiri and Dhekelia',
       'Antarctica', 'Argentina (Urban)', 'Austria-Hungary', 'Baden',
       'Bavaria', 'Bouvet Island', 'British Indian Ocean Territory',
       'China (Rural)', 'China (Urban)', 'Christmas Island',
       'Cocos Islands', 'East Asia and Pacific', 'East Germany',
       'Eritrea and Ethiopia', 'Europe and Central Asia',
       'French Southern Territories', 'Guernsey', 'Hanover',
       'Heard Island and McDonald Islands', 'Hesse Electoral',
       'Hesse Grand Ducal', 'India (Rural)', 'India (Urban)',
       'Indonesia (Rural)', 'Indonesia (Urban)', 'Jersey',
       'Mecklenburg Schwerin', 'Middle East and North Africa', 'Modena',
       'Nagorno-Karabakh', 'Netherlands Antilles', 'Norfolk Island',
       'Other high Income (World Bank)', 'Parma', 'Pitcairn',
       'Republic of Vietnam', 'Saint Barthélemy', 'Saxony',
       'Serbia and Montenegro', 'Serbia excluding Kosovo', 'Somaliland',
       'South Georgia and the South Sandwich Islands', 'South Ossetia',
       'Suriname (Urban)', 'Svalbard and Jan Mayen', 'Transnistria',
       'Tuscany', 'Two Sicilies', 'United Korea',
       'United States Minor Outlying Islands', 'West Germany',
       'Wuerttemburg', 'Yemen Arab Republic', "Yemen People's Republic",
       'Zanzibar', 'Åland Islands', 'Korea', 'Asia (excl. China & India)',
       'EU-27', 'EU-28', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'French Equatorial Africa', 'French West Africa',
       'International transport', 'Kuwaiti Oil Fires', 'Leeward Islands',
       'North America (excl. USA)', 'Panama Canal Zone', 'Ryukyu Islands',
       'St. Kitts-Nevis-Anguilla'], dtype=object)

In [52]:
# if any of the items/country is in list, then temporary dataframe has data, copy to new df
df2 = df[df["Country"].isin(countrylist)]

In [53]:
len(df2["Country"].unique())

159

In [54]:
countries

In [74]:
#df2["Country"] = df2["Country"].str.title()
#df2["Country"].unique()
df2["Country"] = df2["Country"].str.replace("Cote D'Ivoire", "Côte D'Ivoire")

/tmp/ipykernel_85493/3046792879.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].str.replace("Cote D'Ivoire", "Côte D'Ivoire")

In [76]:
for c in df2["Country"]:
    df2["Code"] = countries.lookup(c).alpha_3

/tmp/ipykernel_85493/2364609065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Code"] = countries.lookup(c).alpha_3

LookupError: Could not find a record for 'democratic republic of congo'

In [77]:
countries.search_fuzzy("Congo")

[Country(alpha_2='CG', alpha_3='COG', name='Congo', numeric='178', official_name='Republic of the Congo'),
 Country(alpha_2='CD', alpha_3='COD', name='Congo, The Democratic Republic of the', numeric='180')]

In [78]:
df2["Country"] = df2["Country"].str.replace("Democratic Republic Of Congo", "Congo, The Democratic Republic of the")

/tmp/ipykernel_85493/552642415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].str.replace("Democratic Republic Of Congo", "Congo, The Democratic Republic of the")

In [82]:
df2["Country"] = df2["Country"].str.replace("Iran", "Iran, Islamic Republic of")

/tmp/ipykernel_85493/621326385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].str.replace("Iran", "Iran, Islamic Republic of")

In [95]:
df2["Country"] = df2["Country"].str.replace("Laos", "Lao")

/tmp/ipykernel_85493/1747223804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].str.replace("Laos", "Lao")

In [96]:
for c in df2["Country"]:
    df2["Code"] = countries.lookup(c).alpha_3

/tmp/ipykernel_85493/2364609065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Code"] = countries.lookup(c).alpha_3

LookupError: Could not find a record for 'russia'

In [99]:
countries.search_fuzzy("Russia")

[Country(alpha_2='RU', alpha_3='RUS', name='Russian Federation', numeric='643')]

In [100]:
df2["Country"] = df2["Country"].str.replace("Russia", "Russian Federation")

/tmp/ipykernel_85493/3469523331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].str.replace("Russia", "Russian Federation")

In [101]:
for c in df2["Country"]:
    df2["Code"] = countries.lookup(c).alpha_3

/tmp/ipykernel_85493/2364609065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Code"] = countries.lookup(c).alpha_3

LookupError: Could not find a record for 'south korea'

In [103]:
df2["Country"] = df2["Country"].str.replace("South Korea", "Korea, Republic of")

/tmp/ipykernel_85493/2265738018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].str.replace("South Korea", "Korea, Republic of")

In [104]:
for c in df2["Country"]:
    df2["Code"] = countries.lookup(c).alpha_3

/tmp/ipykernel_85493/2364609065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Code"] = countries.lookup(c).alpha_3

LookupError: Could not find a record for 'syria'

In [105]:
countries.search_fuzzy("Syria")

[Country(alpha_2='SY', alpha_3='SYR', name='Syrian Arab Republic', numeric='760')]

In [106]:
df2["Country"] = df2["Country"].str.replace("Syria", "Syrian Arab Republic")

/tmp/ipykernel_85493/522305821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].str.replace("Syria", "Syrian Arab Republic")

In [113]:
for c in df2["Country"]:
    df2["Code2"] = countries.lookup(c).alpha_2

/tmp/ipykernel_85493/803796691.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Code2"] = countries.lookup(c).alpha_2

In [115]:
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2

In [119]:
for c in df2["Code2"]:
    df2["Continent"] = country_alpha2_to_continent_code(c)

/tmp/ipykernel_85493/3759123311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Continent"] = country_alpha2_to_continent_code(c)

In [120]:
df2.columns

Index(['Country', 'Year', 'Deaths_meningitis',
       'Deaths_lower_respiratory_infections',
       'Deaths_intestinal_infectious_diseases',
       'Deaths_protein_energy_malnutrition', 'Terrorism',
       'Deaths_cardiovascular_diseases',
       'Deaths_alzheimer_disease_and_other_dementias',
       'Deaths_chronic_kidney_disease', 'Deaths_chronic_respiratory_diseases',
       'Deaths_cirrhosis_and_other_chronic_liver_diseases',
       'Deaths_digestive_diseases', 'Deaths_hepatitis', 'Deaths_neoplasms',
       'Deaths_parkinson_disease', 'Deaths_by_fire_and_heat', 'Deaths_malaria',
       'Deaths_drowning', 'Deaths_interpersonal_violence', 'Deaths_aids',
       'Deaths_drug_use_disorders', 'Deaths_tuberculosis',
       'Deaths_road_injuries', 'Deaths_maternal_disorders',
       'Deaths_neonatal_disorders', 'Deaths_alcohol_use_disorders',
       'Deaths_exposure_to_forces_of_nature', 'Deaths_diarrheal_diseases',
       'Deaths_environmental_heat_and_cold_exposure',
       'Deaths_nutritional_deficiencies', 'Deaths_self_harm',
       'Deaths_conflict_and_terrorism', 'Deaths_diabetes_mellitus',
       'Deaths_poisonings',
       'Average_total_years_of_schooling_for_adult_population',
       'Life_satisfaction', 'Life_expectancy', 'Life_expectancy_at_birth',
       'Share_of_population_below_poverty_line_2USD_per_day',
       'Total_life_expectancy_at_birth_in_years', 'Total_population',
       'Human_development_index',
       'Mortality_rate_under_5_per_1000_live_births',
       'Suicidy_mortality_rate_per_100000_population', 'Annual_CO2_emissions',
       'Code', 'Code2', 'Continent'],
      dtype='object')

In [121]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///deadline_database_nonans_geo.db", echo=True)
sqlite_connection = engine.connect()

sqlite_table = "Deadline_database"

df.to_sql(sqlite_table, sqlite_connection, if_exists="replace")

# close connection to DB
sqlite_connection.close()

2021-12-06 20:15:45,385 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Deadline_database")
2021-12-06 20:15:45,385 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,387 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Deadline_database")
2021-12-06 20:15:45,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,389 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-12-06 20:15:45,390 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,391 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Deadline_database")
2021-12-06 20:15:45,392 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,394 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-12-06 20:15:45,395 INFO sqlalchemy.engine.Engine [raw sql] ('Deadline_database',)
2021-12-06 20:15:45,395 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Deadline_database")
2021-12-06 20:15:45,396 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,397 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Deadline_database")
2021-12-06 20:15:45,398 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,398 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-12-06 20:15:45,399 INFO sqlalchemy.engine.Engine [raw sql] ('Deadline_database',)
2021-12-06 20:15:45,399 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Deadline_database")
2021-12-06 20:15:45,400 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,400 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Deadline_database_index")
2021-12-06 20:15:45,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,401 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Deadline_database")
2021-12-06 20:15:45,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,403 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Deadline_database_index")
2021-12-06 20:15:45,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-06 20:15:45,404 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-12-06 20:15:45,405 INFO sqlalchemy.engine.Engine [raw sql] ('Deadline_database',)
2021-12-06 20:15:45,407 INFO sqlalchemy.engine.Engine
DROP TABLE "Deadline_database"
2021-12-06 20:15:45,407 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2021-12-06 20:15:45,447 INFO sqlalchemy.engine.Engine COMMIT
2021-12-06 20:15:45,453 INFO sqlalchemy.engine.Engine
CREATE TABLE "Deadline_database" (
	"index" BIGINT,
	"Country" TEXT,
	"Year" BIGINT,
	"Deaths_meningitis" FLOAT,
	"Deaths_lower_respiratory_infections" FLOAT,
	"Deaths_intestinal_infectious_diseases" FLOAT,
	"Deaths_protein_energy_malnutrition" FLOAT,
	"Terrorism" FLOAT,
	"Deaths_cardiovascular_diseases" FLOAT,
	"Deaths_alzheimer_disease_and_other_dementias" FLOAT,
	"Deaths_chronic_kidney_disease" FLOAT,
	"Deaths_chronic_respiratory_diseases" FLOAT,
	"Deaths_cirrhosis_and_other_chronic_liver_diseases" FLOAT,
	"Deaths_digestive_diseases" FLOAT,
	"Deaths_hepatitis" FLOAT,
	"Deaths_neoplasms" FLOAT,
	"Deaths_parkinson_disease" FLOAT,
	"Deaths_by_fire_and_heat" FLOAT,
	"Deaths_malaria" FLOAT,
	"Deaths_drowning" FLOAT,
	"Deaths_interpersonal_violence" FLOAT,
	"Deaths_aids" FLOAT,
	"Deaths_drug_use_disorders" FLOAT,
	"Deaths_tuberculosis" FLOAT,
	"Deaths_road_injuries" FLOAT,
	"Deaths_maternal_disorders" FLOAT,
	"Deaths_neonatal_disorders" FLOAT,
	"Deaths_alcohol_use_disorders" FLOAT,
	"Deaths_exposure_to_forces_of_nature" FLOAT,
	"Deaths_diarrheal_diseases" FLOAT,
	"Deaths_environmental_heat_and_cold_exposure" FLOAT,
	"Deaths_nutritional_deficiencies" FLOAT,
	"Deaths_self_harm" FLOAT,
	"Deaths_conflict_and_terrorism" FLOAT,
	"Deaths_diabetes_mellitus" FLOAT,
	"Deaths_poisonings" FLOAT,
	"Average_total_years_of_schooling_for_adult_population" FLOAT,
	"Life_satisfaction" FLOAT,
	"Life_expectancy" FLOAT,
	"Life_expectancy_at_birth" FLOAT,
	"Share_of_population_below_poverty_line_2USD_per_day" FLOAT,
	"Total_life_expectancy_at_birth_in_years" FLOAT,
	"Total_population" FLOAT,
	"Human_development_index" FLOAT,
	"Mortality_rate_under_5_per_1000_live_births" FLOAT,
	"Suicidy_mortality_rate_per_100000_population" FLOAT,
	"Annual_CO2_emissions" FLOAT
)


2021-12-06 20:15:45,454 INFO sqlalchemy.engine.Engine [no key 0.00099s] ()
2021-12-06 20:15:45,460 INFO sqlalchemy.engine.Engine COMMIT
2021-12-06 20:15:45,461 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Deadline_database_index" ON "Deadline_database" ("index")
2021-12-06 20:15:45,462 INFO sqlalchemy.engine.Engine [no key 0.00124s] ()
2021-12-06 20:15:45,468 INFO sqlalchemy.engine.Engine COMMIT
2021-12-06 20:15:45,566 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-06 20:15:46,293 INFO sqlalchemy.engine.Engine INSERT INTO "Deadline_database" ("index", "Country", "Year", "Deaths_meningitis", "Deaths_lower_respiratory_infections", "Deaths_intestinal_infectious_diseases", "Deaths_protein_energy_malnutrition", "Terrorism", "Deaths_cardiovascular_diseases", "Deaths_alzheimer_disease_and_other_dementias", "Deaths_chronic_kidney_disease", "Deaths_chronic_respiratory_diseases", "Deaths_cirrhosis_and_other_chronic_liver_diseases", "Deaths_digestive_diseases", "Deaths_hepatitis", "Deaths_neoplasms", "Deaths_parkinson_disease", "Deaths_by_fire_and_heat", "Deaths_malaria", "Deaths_drowning", "Deaths_interpersonal_violence", "Deaths_aids", "Deaths_drug_use_disorders", "Deaths_tuberculosis", "Deaths_road_injuries", "Deaths_maternal_disorders", "Deaths_neonatal_disorders", "Deaths_alcohol_use_disorders", "Deaths_exposure_to_forces_of_nature", "Deaths_diarrheal_diseases", "Deaths_environmental_heat_and_cold_exposure", "Deaths_nutritional_deficiencies", "Deaths_self_harm", "Deaths_conflict_and_terrorism", "Deaths_diabetes_mellitus", "Deaths_poisonings", "Average_total_years_of_schooling_for_adult_population", "Life_satisfaction", "Life_expectancy", "Life_expectancy_at_birth", "Share_of_population_below_poverty_line_2USD_per_day", "Total_life_expectancy_at_birth_in_years", "Total_population", "Human_development_index", "Mortality_rate_under_5_per_1000_live_births", "Suicidy_mortality_rate_per_100000_population", "Annual_CO2_emissions") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-12-06 20:15:46,293 INFO sqlalchemy.engine.Engine [generated in 0.61410s] ((0, 'Afghanistan', 1990, 6469.977091391838, 22836.912346495286, 295.382206545, 1607.7037972460018, 12.0, 46498.08502420735, 1959.215372700566, 3155.356339772485, 5954.958581567895, 1453.0449768544515, 3698.889864363153, 793.6702565454274, 10061.873743480066, 324.828944681958, 311.7760817779927, 463.6124227489294, 1508.416465350034, 1279.9459846492337, 32.09812855864964, 78.25419155780165, 4332.690583447481, 4575.180311310141, 2283.021996024863, 18075.800289934286, 75.59522143482285, 0.0, 8817.260207713856, 226.78940339005945, 1667.386134269348, 740.4484995259625, 1489.999289636355, 3361.736409244922, 170.74228556576642, 1.49, None, 50.331, 50.331, 0.0, 50.331, 12412311.0, None, 17.77, None, 2603238.0), (1, 'Afghanistan', 1991, 6347.158763885498, 22325.633931343706, 303.866598157, 1558.132316060137, 68.0, 46967.36103687579, 1987.812877674717, 3124.082630687818, 6023.386322522869, 1468.8607454474322, 3743.18733606324, 788.5362796306497, 10171.33351148766, 328.4522998476141, 311.50053834646866, 487.1916144660906, 1473.2250212232668, 1524.6415925622289, 37.52415847693495, 81.28458624633708, 4288.640463629124, 4762.068566837203, 2337.4144041582485, 18349.129971713483, 76.10964144630853, 1349.9994342643345, 8588.4637940012, 164.83041736600987, 1616.7562332903042, 762.2451791320304, 3370.00015311082, 3362.470216515875, 172.03265714174486, 1.6, None, 50.999, 50.999, 0.0, 50.999, 13299016.0, None, 17.169999999999998, None, 2427366.0), (2, 'Afghanistan', 1992, 6659.741428179754, 23205.28074996548, 317.75012124, 1617.721576346921, 49.0, 48355.558514868266, 2025.102326401876, 3192.27842814556, 6217.24515672989, 1524.528468033698, 3894.366133430463, 823.9158666226072, 10592.36758116952, 334.707212411907, 338.61426336498823, 521.714215640852, 1537.8133318316343, 1684.8088565877867, 50.67055891684227, 91.01019737726332, 4475.257541530177, 5531.136933145996, 2781.91801686582, 19982.149564567484, 81.13830975993838, 614.0000827821068, 8924.932419549954, 92.52218326332718, 1678.5576245851294, 856.9129271167018, 4343.997794507218, 3445.705567137357, 190.40411104645125, 1.6, None, 51.641, 51.641, 0.0, 51.641, 14485543.0, None, 16.59, None, 1379462.0), (3, 'Afghanistan', 1993, 8068.38626301191, 28229.715397014643, 333.97833108, 1931.8085529867608, 0.0, 50072.56389949511, 2064.827902581096, 3343.974013527555, 6468.245470066558, 1598.643747020821, 4136.479099900144, 892.6425861944767, 11126.644646057604, 341.810022604012, 382.4013167966859, 675.6576958296464, 1714.8158746665151, 1906.959924956235, 58.43304929835086, 103.48199138046311, 4909.050324771718, 6613.963509698346, 3336.796608444557, 27291.23529166365, 87.51474446348384, 109.99999761979969, 11976.501318899846, 104.1674607877061, 2001.122436428658, 975.6037717447408, 4097.000207200164, 3563.236367305097, 217.62261397092976, 1.7, None, 52.256, 52.256, 0.0, 52.256, 15816601.0, None, 16.040000000000003, None, 1333055.0), (4, 'Afghanistan', 1994, 9432.845126561846, 32652.297629937133, 348.419085056, 2351.629205625238, 22.0, 51416.81544241816, 2101.0206298654944, 3480.2997098648866, 6678.49584992994, 1649.9774111621832, 4318.692618142309, 950.3795526539946, 11477.937574856558, 348.2233214591862, 417.7179794704918, 782.4453392093004, 1949.6994994300865, 2229.924043171155, 65.53117640609236, 111.29639740319293, 5352.634058202548, 7341.204564525924, 3558.5977148658085, 29862.6808741679, 90.46414938624514, 160.00000296603002, 13296.448475059007, 112.07265226048835, 2434.014268003856, 1028.742412150765, 8959.000460821573, 3639.707846910156, 236.24057349185665, 1.8, None, 52.842, 52.842, 0.0, 52.842, 17075728.0, None, 15.52, None, 1281602.0), (5, 'Afghanistan', 1995, 10122.772832326318, 34483.55189514679, 363.583912875, 2507.1151877903926, 5.0, 52072.36867126601, 2125.77855438, 3523.1498099366854, 6805.61822618712, 1690.7170945665148, 4436.973375454463, 982.0041536394358, 11711.27393587748, 352.1598253459955, 447.36221676245697, 815.0452029249604, 2187.500353950448, 2325.997879172804, 72.73540382456196, 117.9349664164136, 5536.274369307643, 7936.178185181291, 3706.526833025041, 30758.544712492687, 91.8193301858817, 380.9999851527412, 14767.431174698728, 118.01358678213484, 2595.907455078785, 1065.582016361108, 5508.000167693573, 3665.833847398064, 249.75744035335129, 1.9, None, 53.398, 53.398, 0.0, 53.398, 18110662.0, None, 15.03, None, 1230463.0), (6, 'Afghanistan', 1996, 10317.320086584848, 34845.2551331504, 364.559304431, 2468.6158197202585, 31.0, 52795.71815799189, 2146.7778284076207, 3525.948414300033, 6888.664022574522, 1716.6455656017354, 4510.381671751872, 1013.7370214751526, 11898.875426932313, 355.3648446816753, 458.0024875370393, 886.4137689670523, 2245.104140393584, 2626.043189375672, 78.53365074293934, 124.7179237074088, 5560.655853070678, 8270.543842860316, 3846.393973495743, 31818.950694564588, 93.43661633677068, 69.99999920599242, 14153.892087452568, 122.19328210706404, 2557.8508321763265, 1099.0038062693534, 3254.999587411484, 3735.9745934695634, 255.8475633130356, 1.9, None, 53.924, 53.924, 0.0, 53.924, 18853444.0, None, 14.56, None, 1164920.0), (7, 'Afghanistan', 1997, 10501.42313972871, 35061.72652330397, 365.918124832, 2451.122257346609, 4.0, 53512.78437386359, 2168.375734788226, 3536.462922655311, 6972.195771599016, 1746.9184123526836, 4591.336368102721, 1049.423509337253, 12109.522389548132, 358.7333945175296, 469.22761332998033, 894.7286254439781, 2308.220447142872, 2394.4412199017333, 83.75294412681974, 132.22390911945843, 5605.857164810424, 8349.815929777416, 3989.5008684636905, 32260.115611100417, 95.33510775312575, 174.9999845420124, 14351.353886029416, 127.04432521377232, 2541.9273678290183, 1133.0200087157934, 6722.9968778120565, 3807.8691793781136, 262.02724340762046, 2.0, None, 54.424, 54.424, 0.0, 54.424, 19357126.0, None, 14.12, None, 1084127.0)  ... displaying 10 of 37791 total bound parameter sets ...  (37789, 'World', 1898, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1694277167.0), (37790, 'World', 1899, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1850905966.0))
2021-12-06 20:15:46,797 INFO sqlalchemy.engine.Engine COMMIT
2021-12-06 20:15:46,834 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-12-06 20:15:46,835 INFO sqlalchemy.engine.Engine [raw sql] ()