In [2]:
import pandas as pd

import os

In [4]:
df = pd.read_sql("Deadline_database", "sqlite:///" + os.path.join(os.getcwd(), "deadline_database_nonans2.db"))

In [7]:
df.tail()

,Country,Year,Continent,Deaths_meningitis,Deaths_lower_respiratory_infections,Deaths_intestinal_infectious_diseases,Deaths_protein_energy_malnutrition,Terrorism,Deaths_cardiovascular_diseases,Deaths_alzheimer_disease_and_other_dementias,...,Life_satisfaction,Life_expectancy,Life_expectancy_at_birth,Share_of_population_below_poverty_line_2USD_per_day,Total_life_expectancy_at_birth_in_years,Total_population,Human_development_index,Mortality_rate_under_5_per_1000_live_births,Suicidy_mortality_rate_per_100000_population,Annual_CO2_emissions
1515,Zimbabwe,2013,Africa,1820.090331,13108.151347,25.015658,3507.171892,1.0,16900.858090,1190.558139,...,4.690,56.897,56.897,22.47359,56.897,13350378.0,0.516,6.78,18.6,11836254.0
1516,Zimbabwe,2014,Africa,1769.993458,12841.510671,25.623337,3380.319464,0.0,16755.843066,1191.914868,...,4.184,58.410,58.410,25.46218,58.410,13586710.0,0.525,6.44,18.2,11905687.0
1517,Zimbabwe,2015,Africa,1728.691503,12637.728613,25.415872,3263.941226,0.0,16691.109079,1201.436860,...,3.703,59.534,59.534,28.67193,59.534,13814642.0,0.529,6.20,18.0,12225821.0
1518,Zimbabwe,2016,Africa,1703.437894,12495.147292,25.752116,3188.723249,0.0,16781.946571,1223.666312,...,3.735,60.294,60.294,32.36664,60.294,14030338.0,0.532,5.95,16.8,10737567.0
1519,Zimbabwe,2017,Africa,1677.007331,12369.654705,0.000000,3111.873502,0.0,16976.902369,1246.101126,...,3.638,60.812,60.812,33.86269,60.812,14236599.0,0.535,5.82,15.0,9581633.0

In [10]:
le = df[df["Country"]=="Portugal"]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [13]:
target = le["Life_expectancy"]

In [14]:
features = le[le.columns.difference(["Life_expectancy", "Year"])]

In [15]:
x_train, x_test, y_train, y_test = train_test_split(pd.get_dummies(features), target, test_size=0.3)

In [16]:
lr = LinearRegression()

In [17]:
lr.fit(x_train, y_train)

/home/cgwork/OSS/pywork/venvs/lifedata/lib/python3.8/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  warnings.warn(

LinearRegression()

In [19]:
lr_confidence = lr.score(x_test, y_test)

/home/cgwork/OSS/pywork/venvs/lifedata/lib/python3.8/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [20]:
print("lr confidence: ", lr_confidence)

lr confidence:  0.998738430597938

### very close to 1

In [21]:
le["Year"].max()

2017

In [41]:
le[le["Year"]==le["Year"].max()]["Life_expectancy"].values[0]

81.655

In [42]:
from datetime import datetime

In [43]:
event_date = datetime(year=2022, month=5, day=12, hour=8)

In [44]:
countdown = event_date - datetime.now()

In [45]:
print(countdown)

155 days, 9:33:43.102749